# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rake secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

development:
  secret_key_base: b99af1e1d23db6409348dbc997ee12df34d29471d5aec551ab6692cc66beeb2827222031f4fb569a7cf7f1c96144c079a530003858ccfa2bc8a6f0117b5fb1c0

test:
  secret_key_base: 1b26b11d6a58e75d5397be0e94416eb62b1162f2d90965040abc878f40db88961d101e3c003afd4e610b6660278dee1fcf2d855b2de0f92d3927960e16bd3cd2

# Do not keep production secrets in the repository,
# instead read values from the environment.
production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
